* {
  margin: 0;
  padding: 0;
}

#input {
  width: 300px;
  height: 30px;
  font-size: larger;
}
#search-btn {
  margin-top: 30px;
  width: 300px;
  height: 50px;
  outline: none;
  border: none;
  background: linear-gradient(90deg, red, yellow);
}
#search-btn:hover {
  animation: rotate 2s infinite;
}
@keyframes rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(180deg);
  }
}
#table {
  margin-top: 200px;
}
